<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <menu label="Generate Android Code">
                <command commandId="com.morcinek.android.codegenerator.plugin.handlers.ActivityHandler"
                         label="Activity"
                         style="push">
                    <visibleWhen
                            checkEnabled="false">
                        <and>
                            <count value="1"/>
                            <with
                                    variable="activeMenuSelection">
                                <iterate
                                        ifEmpty="false">
                                    <adapt type="org.eclipse.core.resources.IFile">
                                        <test property="org.eclipse.core.resources.name"
                                              value="*.xml"/>
                                        <test property="org.eclipse.core.resources.path"
                                              value="*layout*"/>
                                    </adapt>
                                </iterate>
                            </with>
                        </and>
                    </visibleWhen>
                </command>
                <command commandId="com.morcinek.android.codegenerator.plugin.handlers.AdapterHandler"
                         label="Adapter"
                         style="push">
                    <visibleWhen
                            checkEnabled="false">
                        <and>
                            <count value="1"/>
                            <with
                                    variable="activeMenuSelection">
                                <iterate
                                        ifEmpty="false">
                                    <adapt type="org.eclipse.core.resources.IFile">
                                        <test property="org.eclipse.core.resources.name"
                                              value="*.xml"/>
                                        <test property="org.eclipse.core.resources.path"
                                              value="*layout*"/>
                                    </adapt>
                                </iterate>
                            </with>
                        </and>
                    </visibleWhen>
                </command>
                <command commandId="com.morcinek.android.codegenerator.plugin.handlers.FragmentHandler"
                         label="Fragment"
                         style="push">
                    <visibleWhen
                            checkEnabled="false">
                        <and>
                            <count value="1"/>
                            <with
                                    variable="activeMenuSelection">
                                <iterate
                                        ifEmpty="false">
                                    <adapt type="org.eclipse.core.resources.IFile">
                                        <test property="org.eclipse.core.resources.name"
                                              value="*.xml"/>
                                        <test property="org.eclipse.core.resources.path"
                                              value="*layout*"/>
                                    </adapt>
                                </iterate>
                            </with>
                        </and>
                    </visibleWhen>
                </command>
                <command commandId="com.morcinek.android.codegenerator.plugin.handlers.MenuHandler"
                         label="Menu"
                         style="push">
                    <visibleWhen
                            checkEnabled="false">
                        <and>
                            <count value="1"/>
                            <with
                                    variable="activeMenuSelection">
                                <iterate
                                        ifEmpty="false">
                                    <adapt type="org.eclipse.core.resources.IFile">
                                        <test property="org.eclipse.core.resources.name"
                                              value="*.xml"/>
                                        <test property="org.eclipse.core.resources.path"
                                              value="*menu*"/>
                                    </adapt>
                                </iterate>
                            </with>
                        </and>
                    </visibleWhen>
                </command>
            </menu>
        </menuContribution>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command defaultHandler="com.morcinek.android.codegenerator.plugin.handlers.ActivityHandler"
                 id="com.morcinek.android.codegenerator.plugin.handlers.ActivityHandler"
                 name="ActivityHandler">
        </command>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command defaultHandler="com.morcinek.android.codegenerator.plugin.handlers.AdapterHandler"
                 id="com.morcinek.android.codegenerator.plugin.handlers.AdapterHandler"
                 name="AdapterHandler">
        </command>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command defaultHandler="com.morcinek.android.codegenerator.plugin.handlers.FragmentHandler"
                 id="com.morcinek.android.codegenerator.plugin.handlers.FragmentHandler"
                 name="FragmentHandler">
        </command>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command defaultHandler="com.morcinek.android.codegenerator.plugin.handlers.MenuHandler"
                 id="com.morcinek.android.codegenerator.plugin.handlers.MenuHandler"
                 name="MenuHandler">
        </command>
    </extension>

    <extension
            point="org.eclipse.ui.preferencePages">
        <page
                id="com.morcinek.android.codegenerator.plugin.preference.page.PreferencePage"
                name="Android Code Generator"
                class="com.morcinek.android.codegenerator.plugin.preference.page.PreferencePage"/>
        <page
                id="com.morcinek.android.codegenerator.plugin.preference.page.ActivityTemplatePage"
                name="Activity Template"
                class="com.morcinek.android.codegenerator.plugin.preference.page.ActivityTemplatePage"
                category="com.morcinek.android.codegenerator.plugin.preference.page.PreferencePage"/>
        <page
                id="com.morcinek.android.codegenerator.plugin.preference.page.AdapterTemplatePage"
                name="Adapter Template"
                class="com.morcinek.android.codegenerator.plugin.preference.page.AdapterTemplatePage"
                category="com.morcinek.android.codegenerator.plugin.preference.page.PreferencePage"/>
        <page
                id="com.morcinek.android.codegenerator.plugin.preference.page.FragmentTemplatePage"
                name="Fragment Template"
                class="com.morcinek.android.codegenerator.plugin.preference.page.FragmentTemplatePage"
                category="com.morcinek.android.codegenerator.plugin.preference.page.PreferencePage"/>
        <page
                id="com.morcinek.android.codegenerator.plugin.preference.page.MenuTemplatePage"
                name="Menu Template"
                class="com.morcinek.android.codegenerator.plugin.preference.page.MenuTemplatePage"
                category="com.morcinek.android.codegenerator.plugin.preference.page.PreferencePage"/>
    </extension>
</plugin>