<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <menu label="Generate Android Code">
                <command commandId="com.morcinek.android.codegenerator.plugin.convert"
                         label="Activity"
                         style="push">
                    <visibleWhen
                            checkEnabled="false">
                        <and>
                            <count value="1"/>
                            <with
                                    variable="activeMenuSelection">
                                <iterate
                                        ifEmpty="false">
                                    <adapt type="org.eclipse.core.resources.IFile">
                                        <test property="org.eclipse.core.resources.name"
                                              value="*.xml"/>
                                    </adapt>
                                </iterate>
                            </with>
                        </and>
                    </visibleWhen>
                </command>
            </menu>
        </menuContribution>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command defaultHandler="com.morcinek.android.codegenerator.plugin.Convert"
                 id="com.morcinek.android.codegenerator.plugin.convert"
                 name="Convert">
        </command>
    </extension>
</plugin>